<style>
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        background-color: #f6e5e5;
        margin: 0;
        padding: 0;
    }
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }   
</style>


<div class="container ">
<h2 style="font-size: 50px;"><%= error.status %></h2>
<h1>Page <%= message %></h1>
<a href="/">Go to Home</a>

</div>
